<%- include('../partials/header') %>
<div class="container text-center">
    <h1>All Workouts </h1>
    <% if (!user) { %>
        <p>Login to create your own workouts</p>
    <% } %>
</div>
<div class="container">
    <ul class="list-group">
        <% workouts.forEach(workout => { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= workout.name %> <span class="text-end"><%= workout.createdAt.toLocaleDateString() %> </span>
                <span class="badge bg-primary rounded-pill"><%= workout.difficulty %> </span>
              </li>
        <% }) %>
      </ul>
</div>
<ul>
<%- include('../partials/footer') %>