<%- include('../partials/header') %>
<div class="container text-center">
    <h1>All Workouts </h1>
    <% if (!user) { %>
        <p>Login to create your own workouts</p>
    <% } %>
</div>
<div class="container">
    <ul class="list-group col-sm-10 offset-sm-1 ">
        <% workouts.forEach(workout => { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="btn btn-outline-primary text-wrap col-7" href="workouts/<%= workout.id %> " role="button"><%= workout.name %> </a>
                <span class="text-end text-muted px-2 col-sm-4"><%= workout.createdAt.toLocaleDateString() %> </span>
                <span class="badge bg-primary rounded-pill px-2"><%= workout.difficulty %> </span>
                </li>
        <% }) %>
      </ul>
</div>
<ul>
<%- include('../partials/footer') %>